
services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    ports:
      - "8000:8000"   
      - "5173:5173"   
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql
    networks:
      - virgosoft

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - virgosoft

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: virgosoft
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - virgosoft

  queue:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    command: php artisan queue:work --sleep=1 --tries=3
    volumes:
      - .:/var/www/html
    depends_on:
      - app
      - mysql
    networks:
      - virgosoft

networks:
  virgosoft:

volumes:
  mysql_data:
